*{
    font-size: 50px;
}

ul>li{
    color: red;
}
p a{
    color:red
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration:none;
}
a:active{
    color: brown;
}
a:visited{
    color:aqua;
}
a:link{
    color: yellow;
}
input[type=text]:enabled
{
    background-color: rgb(191, 222, 222);
}
input[type=text]:disabled
{
    background-color: red;
}
input:checked
{
    height: 50px;
    width: 50px;
}
/*:not(p)
{
    font-size: 2px;
}*/
.paragraph
{
    font-size: 20px;
}
.paragraph::first-line
{
    background-color:burlywood;
}
.paragraph::first-letter
{
    font-size: larger;
    color: red;
    background-color:#5555;
}
li:first-child
{
    background-color: red;
}
li:last-child
{
    background-color:blue;
}
p:only-child
{
    background-color: rgb(108, 108, 88);
}
p:empty{
    background-color: orange;
    width: 100px;
    height: 50px;
}
/* p::before
{
    content: "Hello";
}
p::after
{
    content: "Ganesh";
} */
p:first-of-type
{
    color: darkviolet;
}

p:nth-child(1)
{
    background:skyblue;
}

#july14
{
font-style:italic;
font-variant: small-caps;
font-weight: 100;
text-transform: lowercase;
letter-spacing: 10px;
line-height: 200%;
text-align: center;
text-align-last:inherit;
text-decoration: none;
text-indent: 0px;
font-family: 'Times New Roman', Times, serif;
text-justify: initial;
text-overflow: initial;
text-shadow: 220px;
}
#july14::first-letter
{
vertical-align: 20px;
}